[pairs]
alex = Alexandre Ramalho <alexandre.ramalho@vw-dilab.com>
duarte = Duarte Botelho <duarte@vw-dilab.com>
ricardo = Ricardo Águas <ricardo.aguas@vw-dilab.com>
tiago = Tiago Ventosa <tiago.ventosa@vw-dilab.com>
francisco = Francisco Rodrigues <francisco.rodrigues@vw-dilab.com>
sergiu = Sergiu Cozma <sergiu.cozma@vw-dilab.com>
wilson = Wilson Mália <wilson@vw-dilab.com>
rafael = Rafael Martins <rafael@vw-dilab.com>
eduardo = Eduardo Santos <eduardo.santos@vw-dilab.com>
madalena = Madalena Vagos <madalena.vagos@vw-dilab.com>
faria = Ricardo Faria <ricardo.faria@vw-dilab.com>